body {
  background-color: #F5F5F5;
}

.contenedor-login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.h1-titulo{
  color: #0369A1;
  font-size: 40px;
  font-weight: bold;
  text-transform: capitalize;
}
.h1-titulo span{ 
  color: #3F3F46;
}
.contenido-titulo{
  width: 100%;
}
.contenido-titulo p{
  color: #3F3F46;
  font-size: 20px;
}

.link{
  color: #0369A1;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

.formulario{
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 5px 5px 9px 0px rgba(0,0,0,0.75);
  margin: 20px 0;
  padding: 50px;
}

.formulario h2{
  color: #757575;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.label-auth{
  color: #757575;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 8px 0;
  text-transform: uppercase;
}

.input-auth{
  background: #FAFAFA;
}

.btn-aceptar{
  background: #0369A1;
  border-radius: 3px;
  color: #FFFFFF;
  font-weight: bold;
  margin: 20px 0;
  padding: 8px;
  width: 100%;
  text-transform: uppercase
}
.btn-aceptar:hover{
  cursor: pointer;
  background: #075985;
  transition: .5s;
}

.mensaje-error{
  background-color: #EF4444;
  border-radius: 5px;
  color: #FFFFFF;
  font-weight: bold;
  margin: 10px 0;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}

.mensaje-ok{
  background-color: #16A34A;
  border-radius: 5px;
  color: #FFFFFF;
  font-weight: bold;
  margin: 10px 0;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}

.recuperar-cuenta{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

/* tabletas */
@media (min-width: 768px) {
  
}

/* escritorio normales */
@media (min-width: 992px) {
  .contenedor-login{
    height: 100vh;
    flex-direction: row;
    align-items: center;
    /* margin-top: -50px; */
    padding: 0 10px;
  }
  .h1-titulo{
    font-size: 60px;

  }

  .recuperar-cuenta{
    margin-top: -50px;
    width: 600px;
  }
}

/* pantallas grandes */
@media (min-width: 1200px) {
  
}